 <div class="row mt-4" >
  
    <form class="form edit-comment-form">
      <div class="form-group">
        <label for="blog-desc">Edit comment here:<span id="blog_id">{{id}}</span></label>
        <textarea class="form-input" id="comment" name="blog-desc">{{comment.comment}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <button class="btn btn-sm btn-danger" id="delete-comment" data-id="{{comment.id}}">Delete</button>
      </div>
    </form>
  </div>