<div class="row">
  <div class="col-auto">
    <h3>Edit Blog post:</h3>
  </div>
</div>

    <form class="form edit-blog-form">
      <div class="form-group">
        <label for="blog-name">Title:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" value="{{blog.title}}"/>
      </div>
      <p>Blog post by: {{user.userName}} on {{format_date createdAt}}</p>
      <div class="form-group">
        <label for="blog-desc">Content:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc">{{blog.content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <script src="./js/editBlog.js"></script>