
{{#each blogs as |blog| }}
<div class="row mb-4 project" id="blog-post">
  <div class="col-md-5">
    <h2>
      <a id="blog-title" href="/blogs/{{blog.id}}">{{blog.title}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.content}}
      
    </p>
    
  </div>
</div>
{{/each}}